{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    
    {% endblock %}
       


        {% block content %}

         <!--    Gallery section start   -->
         
         <div class="gallery-section blog-grid">
          <div class="container">
             <div class="row">
              {% for producto in productos %}
                <div class="col-lg-4 col-md-6">
                  <div class="single-pic wow fadeInRight" data-wow-duration="1.5s">
                 
                    <a href="{% url 'PD' producto.id %}">
                      <img src="{% static 'media/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}" width="20">
                  </a>
                  
                      <div class="single-pic-overlay"></div>
                      <div class="txt-icon">
                         <div class="outer">
                            <div class="inner">
                               <h4>{{ producto.nombre }}</h4>
                               <a class="icon-wrapper" href="{% url 'PD' producto.id %}" data-title="{{ producto.nombre }}">
                               <i class="fas fa-search-plus"></i>
                               </a>
                            </div>
                         </div>
                      </div>
                    
                  </div>
                
                </div>
                {% endfor %}
              </div>
            </div>
                <div class="row">
                  <div class="col-lg-12">
                     <nav class="pagination-nav">
                        <ul class="pagination justify-content-center">
                           <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                           </li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item active"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item">
                              <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
     

        
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- easyzoom js -->
      
      <script src="{% static 'js/lightbox.min.js' %}"></script>
    
     
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  
      <!-- wow js -->
      
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}