{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    
    {% endblock %}
       


        {% block content %}
<!--  banner  -->





<!--  banner  -->


<!--  breadcrumb start  -->
<div class="hero-area hero-bg-2 home-2">
   <div class="container">
      <div class="row">
         <div class="col-xl-6 col-lg-8">
            <div class="hero-txt">
               <span class="wow fadeInDown" data-wow-duration="1.5s">Autoadministrable</span>
               <h1 class="wow fadeInUp" data-wow-duration="1.5s">Proyecto Ecommerce</h1>
               <a href="services.html" class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" href="services.html"><span>Objetivo</span></a>
            </div>
         </div>
      </div>
   </div>
   <div class="request-section">
      <div class="container">
       
            
               {% include "banner.html" %}

              
           
       
      </div>
      <div class="request-section-overlay"></div>
   </div>
   <div class="hero-overlay"></div>
</div>
<!--  breadcrumb end  -->
 


         <!--    Gallery section start   -->
         
         <div class="gallery-section blog-grid">
          <div class="container">
             
               {% for key, value_list in categorias_productos.items %}
               
               <h2 class="subtitle">{{ key }}</h2>
                  
                        <div class="row">
                        {% for value in value_list %}
                        {% for producto in productos %}
                        {% if producto.id == value %}
                        <div class="col-lg-4 col-md-6">
                           <div class="single-pic wow fadeInRight" data-wow-duration="1.5s">
                        <a href="{% url 'PD' value %}">
                           <img src="https://imgec.s3.sa-east-1.amazonaws.com/{{ producto.imagen }}" alt="{{ producto.nombre }}" width="20">
                        </a>
                        
                     <div class="single-pic-overlay" ></div>
                        <div class="txt-icon" >
                         <div class="outer" >
                            <div class="inner" >
                               <h4>{{ producto.nombre }}</h4>
                                 <a class="icon-wrapper" href="{% url 'PD' value %}" data-title="{{ producto.nombre }}">
                                    <i class="fas fa-heart"></i>
                                 </a>
                                 
                            </div>
                            
                              <a href="{% url 'PD' value %}" class="cartbtn">
                                 <span > ${{ producto.precio }}</span>
                             </a>
         
                           
                              
                      
                        </div><br>
                        <div style="text-align: center;">
                        
                           <a href="{% url 'Add' value %}" id="comprar" class="cartbtn" ><span><i class="far fa-shopping-cart"></i> Comprar</span></a>
                       </div>
                      
                        
                     </div>
                  </div>
                 
                  <br><br><br><br>
                </div>{% endif %}
                {% endfor %}
                     {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
                <div class="row">
                  <div class="col-lg-12">
                     <nav class="pagination-nav">
                        <ul class="pagination justify-content-center">
                           <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                           </li>
                           <li class="page-item active"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item">
                              <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                           </li>
                        </ul>
                     </nav>
                     
                  </div>
               </div>
               
            </div>
            
         </div>
     

         {% include "footer.html" %}
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- easyzoom js -->
      
      <script src="{% static 'js/lightbox.min.js' %}"></script>
    
     
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  
      <!-- wow js -->
      
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
      
      {% endblock %}
        
      <div class="cta-overlay"></div>
</html>